<ion-header>

  <ion-navbar>
    <ion-title>{{comingLeave.Type}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>

  <rating [(ngModel)]="rate" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star"
    nullable="false"></rating>

  <form [formGroup]="EditLeaveForm" (ngSubmit)="UpdateLeaves()">
    <ion-item>
      <ion-label floating>Start Date</ion-label>
      <ion-datetime ion-datepicker [(ngModel)]="actualStartDate" (ionChanged)="dateChange($event)" [disabledDates]="filteredArr"
        [(value)]="localDateval" formControlName="actualStartDate" [displayFormat]="displayFormat" [pickerFormat]="pickFormat"
        [min]="minDate" [yearValues]="yearsValue"></ion-datetime>
    </ion-item>
    <span *ngIf="errorMsgObj.IsError && (errorMsgObj.HasRequestError || errorMsgObj.IsReplacementError)">
      <p *ngIf="errorMsgObj.HasRequestError" style="color:crimson">{{errorMsgObj.HasRequestError}}</p>
      <p *ngIf="errorMsgObj.IsReplacementError" style="color:crimson">{{errorMsgObj.IsReplacementError}}</p>
    </span>


    <ion-item>
      <ion-label floating>No. Of Days</ion-label>
      <ion-input type="number" [(ngModel)]="actualNOfDays" formControlName="actualNOfDays" disabled></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>End Date</ion-label>
      <ion-datetime disabled [(ngModel)]="actualEndDate" formControlName="actualEndDate" [displayFormat]="allowFraction ? 'MMM DD, YYYY HH:mm A' : 'MMM DD, YYYY'"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label floating>Return Date</ion-label>
      <ion-datetime [displayFormat]="allowFraction ? 'MMM DD, YYYY HH:mm A' : 'MMM DD, YYYY'" disabled [(ngModel)]="actualReturnDate"
        formControlName="actualReturnDate"></ion-datetime>
    </ion-item>

  </form>

</ion-content>
<ion-footer>
  <button ion-button full color="primary" type="submit" (click)="UpdateLeaves()" [disabled]="!EditLeaveForm.valid || errorMsgObj.IsError">Save Changes</button>
</ion-footer>