<!--
  Generated template for the CustodyListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="newDarkerBlueGreen">
    <ion-title>{{"Custodies" | translate}} ({{custodyCount}})</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-note *ngIf="is404Error">You Have NO Custody Right Now</ion-note>
  <ion-note *ngIf="is500Error">Somthing Went Wrong Try Again</ion-note>
  <ion-note *ngIf="is500Error">Request TimeOut Please Try Again Later</ion-note>


  <ion-list *ngFor="let mother of custodyData">
    <ion-item-group id="pItem">
      <ion-item-divider color="newBlueGreen">{{mother.divisionType | translate}}
        <p item-end>
          {{"Total" | translate}} : {{mother.divisionTypes.length}}
        </p>
      </ion-item-divider>
      <ion-item *ngFor="let item of mother.divisionTypes">

        <div >
          <h2>{{item.Name}}</h2>
          <h3>{{"Code" | translate}}: {{item.Code}}</h3>
        </div>
        <div item-end>
          <p >{{"Category" | translate}}: {{item.Category}} </p>

          <p  *ngIf="item.Serial" > {{"Serial" | translate}}: {{item.Serial}}</p>

          <p  *ngIf="item.Quantity" >{{"Quantity" | translate}}: {{item.Quantity}}</p>
        </div>
      </ion-item>
    </ion-item-group>

  </ion-list>
</ion-content>