#code{
    font-weight: bolder;
    color: black;
}

#emp{
    font-weight: bold;
    color: black;
}

.Sortedleft{
    
    width: 49.5%;
    padding: 1%;
    position: absolute;
    float: right;
    background-color: #33cccc;
}

.Sortedright{
    float: left;
    width: 49.5%;
    padding: 1%;
    background-color: #33cccc;
}