<ion-header>

  <ion-navbar color="newDarkerBlueGreen">
    <ion-title>{{"cutLeave" | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="CutLeaveForm" id="CutLeaveID">

    <ion-item>
      <ion-label floating>{{"AReturnDate" | translate}}</ion-label>
      <ion-datetime [(ngModel)]="ReturnDate" (ionChanged)="dateChange($event)" ion-datepicker [disabledDates]="filteredArr" [(value)]="localDateval"
        formControlName="ReturnDate" [displayFormat]="displayFormat" [pickerFormat]="pickFormat" [min]="minDate"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="CutLeaveForm.get('ReturnDate').hasError('isLess') && CutLeaveForm.get('ReturnDate').touched">
      <p style="color:crimson">{{"returnDateLess" | translate}}</p>
    </ion-item>
    <ion-item *ngIf="CutLeaveForm.get('ReturnDate').hasError('isGreater')">
      <p style="color:crimson">{{" " | translate}}</p>
    </ion-item>
    <ion-item>
      <ion-label floating>{{"AEndDate" | translate}}</ion-label>
      <ion-datetime disabled [(ngModel)]="ActualendDate" formControlName="ActualendDate" [displayFormat]="displayFormat"></ion-datetime>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>{{"NoOfDays" | translate}}</ion-label>
            <ion-input type="number" disabled [(ngModel)]="NofDaysAfter" formControlName="NofDaysAfter"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label floating>{{"BalAfter" | translate}}</ion-label>
            <ion-input type="number" disabled [(ngModel)]="balAfter" formControlName="balAfter"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>
<ion-footer>
  <button ion-button full form="CutLeaveID" color="primary" type="submit" [disabled]="!CutLeaveForm.valid" (click)="CutLeaves()">{{"Submittxt" | translate}}</button>
</ion-footer>