<ion-header>

  <ion-navbar color="newDarkerBlueGreen">
    <ion-title>{{notifyDate | dateMoment}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <span ion-text color="dark" showWhen="ios">{{"Close" | translate}}</span>
        <ion-icon name="close-circle" class="closeBtn" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-img *ngIf="notify.PicUrl" src="{{notify.PicUrl}}"></ion-img>
    <ion-img *ngIf="!notify.PicUrl" src="{{baseUrl}}/Content/Photos/systemnoimage.jpg"></ion-img>
    <ion-card-content>
      <ion-note item-end>{{notifyTime}}</ion-note>
      <ion-card-title>{{notifySubject}}</ion-card-title>
      <h3 [innerHTML]="notifyMsg"></h3>
    </ion-card-content>
  </ion-card>
</ion-content>