<ion-header>

  <ion-navbar color="newDarkerBlueGreen">
    <ion-title>{{"forceChange" | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list no-lines>
    <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
      <div>
        <ion-item>
          <ion-label floating>
            <ion-icon name="create"></ion-icon>{{"forceNewPassword" | translate}}</ion-label>
          <ion-input type="password" formControlName="newPassword" [(ngModel)]="newPassword" #txtNewPassword (ionBlur)="InputBlured(txtNewPassword.ngControl.name)"
            (ionFocus)="InputFocused(txtNewPassword.ngControl.name)"></ion-input>
        </ion-item>
        <ion-item *ngIf="!logInForm.get('newPassword').required && newPasswordRequired">
          <p style="color:crimson">{{"forceNewPasswordRequire" | translate}} </p>
        </ion-item>
      </div>
      <div>
        <ion-item>
          <ion-label floating>
            <ion-icon name="create"></ion-icon>{{"forceConfirm" | translate}}</ion-label>
          <ion-input type="password" formControlName="confirm" [(ngModel)]="confirm" #txtConfirmPassword validateEqual="password" (ionBlur)="InputBlured(txtConfirmPassword.ngControl.name)"
            (ionFocus)="InputFocused(txtConfirmPassword.ngControl.name)"></ion-input>
        </ion-item>
        <ion-item *ngIf="!logInForm.get('confirm').required && confirmPasswordRequired">
          <p style="color:crimson">{{"forceConfirmRequire" | translate}}</p>
        </ion-item>
        <ion-item *ngIf="logInForm.get('confirm').hasError('equalTo') && logInForm.get('confirm').touched  ">
          <p style="color:crimson">{{"forceConfirmMatched" | translate}}</p>
        </ion-item>


        <button ion-button color="primary" block large round [disabled]="!logInForm.valid">
          <ion-icon name="log-in"></ion-icon>{{"forceConfirmBtn" | translate}}</button>
      </div>
      <div *ngIf="generalError">
        <ion-item *ngIf="generalError">
          <ion-label text-center style="color:crimson" text-wrap>{{generalError}}</ion-label>
        </ion-item>

      </div>
    </form>
  </ion-list>
</ion-content>