<ion-header>

  <ion-navbar>
    <ion-title>Change Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list no-lines>
    <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
        
         <!-- <div>
        <ion-item>
          <ion-label floating>
            <ion-icon name="create"></ion-icon>&nbsp; Password</ion-label>
          <ion-input type="password" formControlName="password" #txtPassword (ionBlur)="InputBlured(txtPassword.ngControl.name)" ></ion-input>
        </ion-item>
        <ion-item *ngIf="!logInForm.get('password').required && passwordRequired">
          <p style="color:crimson"> Password is Required !! </p>
        </ion-item>
      </div> -->
            <div>
        <ion-item>
          <ion-label floating>
            <ion-icon name="create"></ion-icon>New Password</ion-label>
          <ion-input type="password" formControlName="newPassword" [(ngModel)]="newPassword" #txtNewPassword (ionBlur)="InputBlured(txtNewPassword.ngControl.name)" (ionFocus)="InputFocused(txtNewPassword.ngControl.name)" ></ion-input>
        </ion-item>
        <ion-item *ngIf="!logInForm.get('newPassword').required && newPasswordRequired">
          <p style="color:crimson"> New Password is Required !! </p>
        </ion-item>
      </div>
            <div>
        <ion-item>
          <ion-label floating>
            <ion-icon name="create"></ion-icon>Confirm Password</ion-label>
          <ion-input type="password" formControlName="confirm" [(ngModel)]="confirm" #txtConfirmPassword validateEqual="password" (ionBlur)="InputBlured(txtConfirmPassword.ngControl.name)" (ionFocus)="InputFocused(txtConfirmPassword.ngControl.name)" ></ion-input>
        </ion-item>
        <ion-item *ngIf="!logInForm.get('confirm').required && confirmPasswordRequired">
          <p style="color:crimson">Confirm Password is Required !! </p>
        </ion-item>
        <ion-item *ngIf="logInForm.get('confirm').hasError('equalTo') && logInForm.get('confirm').touched  ">
          <p style="color:crimson">Confirm Password is NOT Matched !! </p>
        </ion-item>


<button ion-button color="primary" block large round [disabled]="!logInForm.valid">
        <ion-icon name="log-in"></ion-icon>Confirm</button>
              </div>     
            <div *ngIf="generalError">
        <ion-item *ngIf="generalError">
          <ion-label text-center style="color:crimson" text-wrap>{{generalError}}</ion-label>
        </ion-item>

      </div>
    </form>
  </ion-list>
  
  <!--
    <ion-card>
     <ion-card-header class="card">
      <h1> Welcome </h1>
    </ion-card-header> 
    <ion-card-content class="card" >
       <h2 id="Attention"> Attention </h2>
      <p>You have to change your password for first Login</p>
    </ion-card-content>
  </ion-card>
  -->
  <!--////////////////////////////  

  <ion-label>Password</ion-label>
  <ion-item>
    <ion-input placeholder="Type Old Password" type="password"> </ion-input>
  </ion-item>

  <ion-label>New Password</ion-label>
  <ion-item>
    <ion-input placeholder="Add" type="password"></ion-input>
  </ion-item>

  <ion-label>Retype new Password</ion-label>
  <ion-item>
    <ion-input placeholder="Add" type="password"></ion-input>
  </ion-item>
  <br/>
  <button ion-button (click)="GoToWelcome()" color="primary" block large>Confirm</button>  
  -->
</ion-content>