<ion-header>

  <ion-navbar color="newDarkerBlueGreen">
    <ion-title>{{"AssignOrderDetails" | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-item>
    <ion-label floating class="labelColor">{{"AssignOrderSeries" | translate}}</ion-label>
    <ion-input type="number" readonly [(ngModel)]="AssignorderDetails.Id"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating class="labelColor">{{"AssignedFrom" | translate}}</ion-label>
    <ion-input type="text" readonly [(ngModel)]="AssignorderDetails.Manager"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating class="labelColor">{{"Duration" | translate}}</ion-label>
    <ion-input type="text" [ngModel]="AssignorderDetails.Duration | assignOrderDuration" (ngModelChange)="AssignorderDetails.Duration=$event">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating class="labelColor">{{"AssignDate" | translate}}</ion-label>
    <ion-input type="text" [ngModel]="AssignorderDetails.AssignDate | dateMoment" (ngModelChange)="AssignorderDetails.AssignDate=$event">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating class="labelColor">{{"CalculatedMethod" | translate}}</ion-label>
    <ion-input type="text" [ngModel]="AssignorderDetails.CalcMethod | assignOrderCalcsMethodPipe" (ngModelChange)="AssignorderDetails.CalcMethod=$event">
    </ion-input>
  </ion-item>

  <ion-item *ngIf="AssignorderDetails.CalcMethod == 2">
    <ion-label floating class="labelColor">{{"LeaveType" | translate}}</ion-label>
    <ion-input type="text" readonly [(ngModel)]="AssignorderDetails.LeaveType"></ion-input>
  </ion-item>

  <ion-item *ngIf="AssignorderDetails.CalcMethod == 2">
    <ion-label floating class="labelColor">{{"ExpiryDate" | translate}}</ion-label>
    <ion-input  type="text" [ngModel]="AssignorderDetails.ExpiryDate | dateMoment" (ngModelChange)="AssignorderDetails.ExpiryDate=$event">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating class="labelColor">{{"Description" | translate}}</ion-label>
    <ion-input type="text" readonly [(ngModel)]="AssignorderDetails.TaskDesc"></ion-input>
  </ion-item>

</ion-content>