

.ios, .md {
 
    page-request-leave {
 
        .scroll-content {
            background-color: map-get($colors, light);
        }
 
        ion-card-header {
            font-weight: bold;
        }
 
    }
 
}

.cardheader{
    background-color: #4d94ff;
}
.submit{
    float: left;
    width: 49%;
    padding: 5px;
    position: absolute;
}
.save{
    float: right;
    width: 49%;
    padding: 5px;
    
}
ul {
    float: none;
    text-align: center; 
    &.rating li {
        padding: 0px 0px !important;
        background: none;
        color: #ffb400;
    }
  }

  .rightsubmitButton{
    position: absolute; right: 0;
   }
   .leftsubmitButton{
    position: absolute; left: 0;
   }
   .left{
    float: left;
   }
   .right{
    float: right;
  }