<ion-header>

  <ion-navbar>
    <ion-title *ngIf="EditFlag==0">{{"RequestLeave" | translate}}</ion-title>
    <ion-title *ngIf="EditFlag==1">{{"EditLeave" | translate}}</ion-title>
    <ion-title *ngIf="EditFlag==2">{{"LeaveDetails" | translate}}</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="addEvent()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-card>
    <ion-slides pager>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            {{"BalanceChart" | translate}}
          </ion-card-header>
          <ion-card-content>
            <canvas #doughnutCanvas></canvas>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            {{"LeavesChart" | translate}}
          </ion-card-header>
          <ion-card-content>
            <canvas #barCanvas></canvas>
          </ion-card-content>
        </ion-card>
      </ion-slide>

    </ion-slides>
  </ion-card>
  <span *ngIf="errorMsgObj.IsError">
    <p *ngIf="errorMsgObj.AssignError" style="color:crimson">{{errorMsgObj.AssignError}}</p>
    <p *ngIf="errorMsgObj.DeptPercentError" style="color:crimson">{{errorMsgObj.DeptPercentError}} - {{errorMsgObj.Percentage}}</p>
    <p *ngIf="errorMsgObj.StarsError" style="color:crimson">{{errorMsgObj.StarsError}}</p>
    <p *ngIf="errorMsgObj.WaitingError" style="color:crimson">{{errorMsgObj.WaitingError}} - {{errorMsgObj.WaitingMonth}}</p>
  </span>


  <rating [(ngModel)]="rate" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star"
    nullable="false"></rating>

  <form [formGroup]="RequestLeaveForm" id="RequestLeaveID">
    <ion-item>
      <ion-label floating>{{"LeaveType" | translate}}</ion-label>
      <ion-select [(ngModel)]="leaveType" (ionChange)="leaveChange(leaveType)" formControlName="leaveType" interface="popover"
        [disabled]="EditFlag==2">
        <ion-option *ngFor="let item of LeavesData" value="{{item.Id}}">{{item.Name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>{{"StartDate" | translate}}</ion-label>
      <ion-datetime ion-datepicker [(ngModel)]="startDate" (ionChanged)="dateChange($event)" [disabledDates]="filteredArr" [(value)]="localDateval"
        formControlName="startDate" [displayFormat]="displayFormat" [pickerFormat]="pickFormat" [disabled]="EditFlag==2" [min]="minDate"
        [yearValues]="yearsValue"></ion-datetime>
    </ion-item>
    <span *ngIf="errorMsgObj.IsError && (errorMsgObj.HasRequestError || errorMsgObj.IsReplacementError)">
      <p *ngIf="errorMsgObj.HasRequestError" style="color:crimson">{{errorMsgObj.HasRequestError}}</p>
      <p *ngIf="errorMsgObj.IsReplacementError" style="color:crimson">{{errorMsgObj.IsReplacementError}}</p>
    </span>
    <!--oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  -->
    <ion-item>
      <ion-label floating>{{"NoOfDays" | translate}}</ion-label>
      <ion-input type="number" [(ngModel)]="noOfDays" (ionChange)="numberChange(noOfDays)" formControlName="noOfDays" [min]="1"
        [disabled]="EditFlag==2 "></ion-input>
    </ion-item>
    <span *ngIf="!RequestLeaveForm.controls.noOfDays.valid && (RequestLeaveForm.controls.noOfDays.dirty) && EditFlag!=2 ">
      <p *ngIf="RequestLeaveForm.get('noOfDays').hasError('RequiredDays')" style="color:crimson ">{{RequestLeaveForm.get('noOfDays').getError('RequiredDays')}}</p>
      <p *ngIf="RequestLeaveForm.get('noOfDays').hasError('maximum')" style="color:crimson ">{{RequestLeaveForm.get('noOfDays').getError('maximum')}}, {{requestData.LeaveType.MaxDays}} Day(s)</p>
      <p *ngIf="RequestLeaveForm.get('noOfDays').hasError('allowed')" style="color:crimson ">{{RequestLeaveForm.get('noOfDays').getError('allowed')}}, {{allowedDays}} Day(s)</p>
      <p *ngIf="RequestLeaveForm.get('noOfDays').hasError('noLeave')" style="color:crimson ">{{RequestLeaveForm.get('noOfDays').getError('noLeave')}}</p>
      <p *ngIf="RequestLeaveForm.get('noOfDays').hasError('general')" style="color:crimson ">{{RequestLeaveForm.get('noOfDays').getError('general')}}</p>
    </span>

    <ion-item *ngIf="allowFraction">
      <ion-label floating>{{"Fraction" | translate}}</ion-label>
      <ion-select [(ngModel)]="fraction" (ionChange)="fractionChange(fraction)" formControlName="fraction" interface="popover"
        [disabled]="EditFlag==2 ">
        <ion-option value="0">{{"NoFraction" | translate}}</ion-option>
        <ion-option value="1">{{"QASD" | translate}}</ion-option>
        <ion-option value="2">{{"HASD" | translate}}</ion-option>
        <ion-option value="3">{{"QAED" | translate}}</ion-option>
        <ion-option value="4">{{"HAED" | translate}}</ion-option>
      </ion-select>
      <span *ngIf="!RequestLeaveForm.controls.fraction.valid && (RequestLeaveForm.controls.fraction.dirty) && EditFlag!=2 ">
        {{RequestLeaveForm.controls.leaveType.value}}
        <p *ngIf="RequestLeaveForm.get('fraction').hasError('RequiredDays')" style="color:crimson ">{{RequestLeaveForm.get('fraction').getError('RequiredDays')}}</p>
      </span>
    </ion-item>


    <ion-item>
      <ion-label floating>{{"LeaveReason" | translate}}</ion-label>
      <ion-select [(ngModel)]="reason" (ionChange)="reasonChange(reason)" formControlName="reason" interface="popover" [disabled]="EditFlag==2">
        <ion-option value="0">{{"NoReason" | translate}}</ion-option>
        <ion-option *ngFor="let item of LeaveReasonList" value="{{item.CodeId}}">{{item.Name}}</ion-option>
      </ion-select>
    </ion-item>


    <span *ngIf="!RequestLeaveForm.controls.reason.valid && (RequestLeaveForm.controls.reason.dirty) && EditFlag!=2">
      <p *ngIf="RequestLeaveForm.get('reason').hasError('theMust')" style="color:crimson ">{{RequestLeaveForm.get('reason').getError('theMust')}}</p>
      <p *ngIf="RequestLeaveForm.get('reason').hasError('noLeave')" style="color:crimson ">{{RequestLeaveForm.get('reason').getError('noLeave')}}</p>
    </span>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>{{"AllowedDays" | translate}}</ion-label>
            <ion-input type="number" readonly [(ngModel)]="allowedDays" formControlName="allowedDays"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label floating>{{"ReservedDays" | translate}}</ion-label>
            <ion-input type="number" readonly [(ngModel)]="reservedDays" formControlName="reservedDays"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item>
      <ion-label floating>{{"EndDate" | translate}}</ion-label>
      <ion-datetime disabled [(ngModel)]="endDate" formControlName="endDate" displayFormat="MMM DD, YYYY"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label floating>{{"ReturnDate" | translate}}</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY" disabled [(ngModel)]="returnDate" formControlName="returnDate"></ion-datetime>
    </ion-item>


    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>{{"BalBefore" | translate}}</ion-label>
            <ion-input type="number" readonly [(ngModel)]="balBefore" formControlName="balBefore"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label floating>{{"BalAfter" | translate}}</ion-label>
            <ion-input type="number" readonly [(ngModel)]="balAfter" formControlName="balAfter"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item>
      <ion-label floating>{{"Replacement" | translate}}</ion-label>
      <ion-select [(ngModel)]="replacement" formControlName="replacement" (ionChange)="replacementChange(replacement)" interface="popover"
        [disabled]="EditFlag==2">
        <ion-option *ngFor="let item of Replacements" value="{{item.id}}">{{item.name}}</ion-option>
      </ion-select>
    </ion-item>
    <span *ngIf="errorMsgObj.IsError && errorMsgObj.ReplacementError">
      <p *ngIf="errorMsgObj.ReplacementError" style="color:crimson">{{errorMsgObj.ReplacementError}}</p>
    </span>
    <ion-item>
      <ion-label>{{"Comments" | translate}}</ion-label>
      <br>
      <ion-textarea rows="3" class="txtarea" [(ngModel)]="comments" formControlName="comments" placeholder="discription" [disabled]="EditFlag==2"></ion-textarea>
    </ion-item>

  </form>
</ion-content>
<ion-footer *ngIf="EditFlag==0 || EditFlag==1">
  <button ion-button class="submit" [ngClass]="{rightsubmitButton:lang=='ar',leftsubmitButton:lang=='en'}" form="RequestLeaveID"
    color="primary" type="submit" (click)="saveLeaves(true)" [disabled]="!RequestLeaveForm.valid || errorMsgObj.IsError">{{"Submittxt" | translate}}</button>
  <button ion-button class="save" [ngClass]="{right:lang=='en',left:lang=='ar'}" form="RequestLeaveID" color="secondary" type="submit"
    (click)="saveLeaves(false)" [disabled]="!RequestLeaveForm.valid || errorMsgObj.IsError">{{"Save" | translate}}</button>
</ion-footer>