<ion-header>
    <!-- <ion-navbar>
    <ion-title>Quereies</ion-title>
  </ion-navbar> -->
</ion-header>


<ion-content id="mainContentq">

    <ion-card id="mainCardq" (click)="gotoMyTasks()" *ngIf="isManager || isEmployee">
        <div id="smalldivq">
            <ion-icon name="analytics"></ion-icon>
        </div>
        <div id="largedivq">
            {{"TaskRequests" | translate}}
        </div>
    </ion-card>

    <ion-card id="mainCardq" (click)="gotoMyLeave()" *ngIf="isManager || isEmployee" >
        <div id="smalldivq">
            <ion-icon name="analytics"></ion-icon>
        </div>
        <div id="largedivq">
            {{"LeaveRequests" | translate}}
        </div>
    </ion-card>

    <ion-card id="mainCardq" (click)="gotoMyAssignOrders()" *ngIf="isManager || isEmployee">
        <div id="smalldivq">
            <ion-icon name="analytics"></ion-icon>
        </div>
        <div id="largedivq">
            {{"MyAssignOrders" | translate}}
        </div>
    </ion-card>

    <ion-card id="mainCardq" (click)="gotoInforming()" *ngIf="isManager || isEmployee">
        <div id="smalldivq">
            <ion-icon name="analytics"></ion-icon>
        </div>
        <div id="largedivq">
            {{"myInforming" | translate}}
        </div>
    </ion-card>

    <ion-card id="mainCardq"  (click)="gotoAssignOrderRequests()">
        <div id="smalldivq">
            <ion-icon name="analytics"></ion-icon>
        </div>
        <div id="largedivq">
            {{"AssignOrderRequests" | translate}}
        </div>
    </ion-card>

    <ion-card id="mainCardq" (click)="gotocustodyRequests()" *ngIf="isManager || isEmployee">
        <div id="smalldivq">
            <ion-icon name="analytics"></ion-icon>
        </div>
        <div id="largedivq">
            {{"Custody" | translate}}
        </div>
    </ion-card>

    <ion-card id="mainCardq" (click)="gotoCustomLeaves()" *ngIf="isManager || isEmployee">
        <div id="smalldivq">
            <ion-icon name="analytics"></ion-icon>
        </div>
        <div id="largedivq">
            {{"officialHoliday" | translate}}
        </div>
    </ion-card>

    <ion-card id="mainCardq" (click)="gotoTransLeaves()" *ngIf="isManager || isEmployee">
        <div id="smalldivq">
            <ion-icon name="analytics"></ion-icon>
        </div>
        <div id="largedivq">
            {{"TransLeaves" | translate}}
        </div>
    </ion-card>

    <ion-card id="mainCardq" (click)="gotoSalary()" *ngIf="isManager || isEmployee">
        <div id="smalldivq">
            <ion-icon name="analytics"></ion-icon>
        </div>
        <div id="largedivq">
            {{"Salary" | translate}}
        </div>
    </ion-card>

    <ion-card id="mainCardq" (click)="gotoPapers()" *ngIf="isManager || isEmployee">
        <div id="smalldivq">
            <ion-icon name="analytics"></ion-icon>
        </div>
        <div id="largedivq">
            {{"Docs" | translate}}
        </div>
    </ion-card>

</ion-content>