<ion-header>
  <ion-navbar>
    <ion-title text-center>
      <strong>{{"LogIn" | translate}}</strong>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <br/>
  <br/>
  <img src="assets/img/logo.png" />
  <br/>
  <br/>
  <ion-list no-lines>
    <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
      <div *ngIf="!companyNameExisted">
        <ion-item>
          <ion-label floating>
            <ion-icon name="aperture"></ion-icon>&nbsp; {{"compName" | translate}}</ion-label>
          <ion-input type="text" #txtCompanyName formControlName="companyName" (ionBlur)="InputBlured(txtCompanyName.ngControl.name)"
            (ionFocus)="InputFocused(txtCompanyName.ngControl.name)"></ion-input>
        </ion-item>
        <ion-item *ngIf="!logInForm.get('companyName').required && companyNameRequired">
          <p style="color:crimson"> {{"compRequir" | translate}} </p>
        </ion-item>
        <span *ngIf="!logInForm.controls.companyName.valid && (logInForm.controls.companyName.dirty) ">
          <p *ngIf="logInForm.get('companyName').hasError('wrongurl')" style="color:crimson ">{{logInForm.get('companyName').getError('wrongurl')}}</p>
        </span>
      </div>

      <div *ngIf="!userNameExisted">
        <ion-item>
          <ion-label floating>
            <ion-icon name="person"></ion-icon>&nbsp; {{"Username" | translate}}</ion-label>
          <ion-input type="text" formControlName="userName" #txtUserName (ionBlur)="InputBlured(txtUserName.ngControl.name)" (ionFocus)="InputFocused(txtUserName.ngControl.name)"></ion-input>
        </ion-item>
        <ion-item *ngIf="!logInForm.get('userName').required && userNameRequired">
          <p style="color:crimson "> {{"userRequir" | translate}}</p>
        </ion-item>
      </div>

      <div *ngIf="userNameExisted">
        <br />
        <ion-item>
          <h1>
            <strong id="lbl_UserName">
              Welcome {{User.UserName}}
            </strong>
          </h1>
        </ion-item>
      </div>
      <div>
        <ion-item>
          <ion-label floating>
            <ion-icon name="create"></ion-icon>&nbsp; {{"Password" | translate}}</ion-label>

          <ion-input type="{{type}}" formControlName="password" #txtPassword (ionBlur)="InputBlured(txtPassword.ngControl.name)" (ionFocus)="InputFocused(txtPassword.ngControl.name)">
          </ion-input>
          <button *ngIf="!showPass" ion-button icon-only clear color="dark" type="button" item-right (click)="showPassword()">
            <ion-icon name="eye-off"></ion-icon>
          </button>
          <button *ngIf="showPass" ion-button icon-only clear color="dark" type="button" item-right (click)="showPassword()">
            <ion-icon name="eye"></ion-icon>
          </button>


        </ion-item>
        <ion-item *ngIf="!logInForm.get('password').required && passwordRequired">
          <p style="color:crimson"> {{"passRequir" | translate}} </p>
        </ion-item>
      </div>

      <br/>
      <br/>
      <ion-item>
        <ion-label>{{"remmberMe" | translate}}</ion-label>
        <ion-checkbox formControlName="rememberMe" color="primary"></ion-checkbox>
      </ion-item>
      <br/>
      <br/>
      <br/>
      <div *ngIf="generalError">
        <ion-item *ngIf="generalError">
          <ion-label text-center style="color:crimson" text-wrap>{{generalError}}</ion-label>
        </ion-item>
        <br/>
        <br/>
      </div>
      <button ion-button color="primary" block large round [disabled]="!logInForm.valid">
        <ion-icon name="log-in"></ion-icon>&nbsp;&nbsp;&nbsp; {{"LogIn" | translate}}</button>


    </form>

  </ion-list>
  <button ion-button color="danger" (click)="Logout()" block large round>
    <ion-icon name="log-out"></ion-icon>&nbsp;&nbsp;&nbsp; {{"LogOut" | translate}}</button>
  <!-- <button ion-button (click)="tasks()">{{"Tasks" | translate}}</button> -->
</ion-content>