<ion-header>

  <!-- <ion-navbar>
    <ion-title>Requests</ion-title>
  </ion-navbar> -->

</ion-header>


<ion-content id="mainContent">
  <ion-card id="mainCard" (click)="gotoLeaveRequests()" *ngIf="isManager || isEmployee">
    <div id="smalldiv">
      <ion-icon name="analytics"></ion-icon>
    </div>
    <div id="largediv">
      {{"RequestLeave" | translate}}
    </div>
  </ion-card>

  <ion-card id="mainCard"  (click)="gotoAssignOrderRequests()">
    <div id="smalldiv">
      <ion-icon name="analytics"></ion-icon>
    </div>
    <div id="largediv">
      {{"AssignOrder" | translate}}
    </div>
  </ion-card>

  <!-- <ion-card id="mainCardq" (click)="gotoResignRequest()" *ngIf="isManager || isEmployee">
      <div id="smalldivq">
          <ion-icon name="analytics"></ion-icon>
      </div>
      <div id="largedivq">
          {{"TerminationRequests" | translate}}
      </div>
  </ion-card> -->

  <ion-card id="mainCard" (click)="gotoSalaryAdvanceRequests()" *ngIf="isManager || isEmployee">
    <div id="smalldiv">
      <ion-icon name="analytics"></ion-icon>
    </div>
    <div id="largediv">
      {{"SalaryAdvance" | translate}}
    </div>
  </ion-card>

  <ion-card id="mainCard" (click)="gotoAskingPermission()" *ngIf="isManager || isEmployee">
    <div id="smalldiv">
      <ion-icon name="analytics"></ion-icon>
    </div>
    <div id="largediv">
      {{"LeavePermission" | translate}}
    </div>
  </ion-card>

  <ion-card id="mainCard" (click)="gotoComplaint()" *ngIf="isManager || isEmployee">
    <div id="smalldiv">
      <ion-icon name="analytics"></ion-icon>
    </div>
    <div id="largediv">
      {{"Complaint" | translate}}
    </div>
  </ion-card>

  <!-- <ion-card id="mainCard" *ngIf="isManager" (click)="gotoTaskRequests()">
        <div id="smalldiv">
      <ion-icon name="analytics"></ion-icon>
    </div>
    <div id="largediv">
      {{"AddTask" | translate}}
    </div>
  </ion-card> -->

  <ion-card id="mainCard" (click)="gotoEditProfile()" *ngIf="isManager || isEmployee">
    <div id="smalldiv">
      <ion-icon name="analytics"></ion-icon>
    </div>
    <div id="largediv">
      {{"EditProfile" | translate}}
    </div>
  </ion-card>


</ion-content>