<ion-header>

  <!-- <ion-navbar>
    <ion-title>Requests</ion-title>
  </ion-navbar> -->

</ion-header>


<ion-content id="mainContent">
  <ion-card id="mainCard" (click)="gotoLeaveRequests()">
    <div id="smalldiv">
      <ion-icon name="analytics"></ion-icon>
    </div>
    <div id="largediv">
      {{"RequestLeave" | translate}}
    </div>
  </ion-card>

  <ion-card id="mainCard" (click)="gotoSalaryAdvanceRequests()">
        <div id="smalldiv">
      <ion-icon name="analytics"></ion-icon>
    </div>
    <div id="largediv">
      {{"SalaryAdvance" | translate}}
    </div>
  </ion-card>

  <ion-card id="mainCard" (click)="gotoAskingPermission()">
     <div id="smalldiv">
      <ion-icon name="analytics"></ion-icon>
    </div>
    <div id="largediv">
      {{"LeavePermission" | translate}}
    </div>
  </ion-card>

  <ion-card id="mainCard" (click)="gotoComplaint()">
        <div id="smalldiv">
      <ion-icon name="analytics"></ion-icon>
    </div>
    <div id="largediv">
      {{"Complaint" | translate}}
    </div>
  </ion-card>

  <ion-card id="mainCard" *ngIf="isManager" (click)="gotoTaskRequests()">
        <div id="smalldiv">
      <ion-icon name="analytics"></ion-icon>
    </div>
    <div id="largediv">
      {{"AddTask" | translate}}
    </div>
  </ion-card>

  <ion-card id="mainCard" (click)="gotoEditProfile()">
        <div id="smalldiv">
      <ion-icon name="analytics"></ion-icon>
    </div>
    <div id="largediv">
      {{"EditProfile" | translate}}
    </div>
  </ion-card>

  <ion-card id="mainCard" *ngIf="isManager" (click)="gotoAssignOrderRequests()">
        <div id="smalldiv">
      <ion-icon name="analytics"></ion-icon>
    </div>
    <div id="largediv">
      {{"AssignOrder" | translate}}
    </div>
  </ion-card>

</ion-content>