#smalldivSet{
    background-color: #009999;
    width:35px;
    color: #f2f2f2;
    text-align: center;
}
#largedivSet{
    background-color:#33cccc;
    flex:1;
   // text-align: left;
    font-size: 17px;
    color: #f2f2f2;
    padding: 2%;
}

#mainCardSet{
    display: flex;
    margin-top: 10%;
}

#mainContentSet{
//    margin-top: 20%
//
text-align: initial ;
}

.circle-pic{
    width:50px;
    height:50px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
