

page-informing {
    button[ion-fab] {
        overflow: visible;
        position: relative;

        ion-label{
            position: absolute;
            top: -8px;
            right: 40px;
            color: white;
            background-color: rgba(0,0,0,0.7);
            line-height: 24px;
            padding: 4px 8px;
            border-radius: 4px;
        }
    }
    // ion-item-sliding{width:100%}
    // ion-item-sliding.active-slide ion-item-options[side=left] {
    //     visibility: visible;
    //     }
    // .checkbox-ios .checkbox-icon {
    //     border-radius: 50%;
    //     position: relative;
    //     width: 21px;
    //     height: 21px;
    //     border-width: 1px;
    //     border-style: solid;
    // }
    ion-note{
        margin: 9px 8px 9px 0px !important;
    }
    // ion-list[style]{
    //     
    // }
    .list-md{
        margin: 0 !important;
        height:100% !important;
    }
    .item-expand {
        position: relative;
        width: 100%;
        max-height: 20px;
        transition: max-height 0.1s ease-out;
        overflow: hidden;
       p{
        white-space: normal;
       }
      }
        left: 0;
        height: 15px;
        width: 100%;
        display: block;
        background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0, rgba(255, 255, 255, 0)),
          color-stop(1, rgba(255, 255, 255, 1))
        );
        background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      }
      
      .item-expand.active {
        max-height: 200px;
        transition: max-height 0.3s ease-out;
      }
      
      
      /* DEMO */
      .item-expand-footer {
        color: red;
        margin-top: 10px;
      }
      
      .item-expand-footer i {
        margin-right: 10px;
      }
    .def-inform{
        padding-left: 25px;
        position: relative;

        &:before{
            content: "";
            display: block;
            width: 8px;
            height: 8px;
            background: transparent;
            border-radius: 100%;
            position: absolute;
            top: 19px;
            left: 10px;
        }
        &.unread-inform{
            &:before{
                background: #488aff;
            }
    
        }
    }
    // h2{
    //         text-align: left !important; 
    //     }