ion-content
{
    text-align:center;
}

#notification-button {
   position: relative;
//    right: -260px;
   overflow: visible!important;
   width: 10px;
   height: 10px;
   padding: 20px;
  margin:10px;
  font-size: 25px;
}

#notifications-badge {
   position: absolute;
   border-radius: 50%;
   top: 1px;
   right: 6px;
   text-align: center;
   padding: 4px;
}
.personal_img{
    width: 30px;
    height: 250px;
}

h3{
    font-weight: bold;
}

//.ios, .md {
  page-welcome {
    ion-slide {
      //background-color: #32db64;
    }
 
    ion-slide img {
      height: 60vh !important;
      width: auto !important;
    }
 
  }

  .card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color:black;
    font-family: "Comic Sans MS", cursive, sans-serif
    // #fff;
  }

  .card-subtitle {
    //font-size: 1.0em;
    font-size: 20px;
    position: absolute;
    top: 52%;
    width: 100%;
    color: black;
    font-family: "Comic Sans MS", cursive, sans-serif
    //#fff;
  }
  }
 

