<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!toggled">Leave Requests ({{LeavesCount}}) </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="toggle()">
        <ion-icon  name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="addLeave()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar *ngIf="toggled" placeholder="Filter By Year" [(ngModel)]="queryText" (ionInput)="filterItems()"></ion-searchbar>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list *ngFor="let mother of Leaves_Arr">
    <ion-item-group id="pItem">
      <ion-item-divider color="primary" id="divison">{{mother.divisionType}}</ion-item-divider>
      <ion-item-sliding *ngFor="let item of mother.divisionTypes">
        <button ion-item (click)="ShowLeaves(item)">
          
        <ion-avatar item-start>
          <img *ngIf="item.ApprovalStatus== 1 || item.ApprovalStatus==2|| item.ApprovalStatus==6 || item.ApprovalStatus==9" src="{{item.ApprovalStatus|imagePipe}}"
            style="border-radius:15%;" class="smallImg">
          <img *ngIf="item.ApprovalStatus == 3 || item.ApprovalStatus == 4 || item.ApprovalStatus == 5 || item.ApprovalStatus == 7 || item.ApprovalStatus == 8"
            src="assets/img/blue.png" style="border-radius:15%;" class="smallImg">
        </ion-avatar>
        <!-- <h2>{{item.Type}}</h2> -->
        <h5>{{item.StartDate | dateMoment}} - {{item.EndDate | dateMoment}} </h5>
        <!-- <h5 *ngIf="item.ActualEndDate != null">{{item.StartDate | dateMoment}} - {{item.ActualEndDate | dateMoment}} </h5> -->
        <ion-note item-end *ngIf="item.NofDays <= 1">{{item.NofDays}} day </ion-note>
        <ion-note item-end *ngIf="item.NofDays > 1">{{item.NofDays}} days </ion-note>
        <p [ngClass]="{grey:item.ApprovalStatus==1,yellow:item.ApprovalStatus==2,green:item.ApprovalStatus==6,red:item.ApprovalStatus==9,blue:true}">{{item.ApprovalStatus|approvalPipe}}</p>
      <!-- </ion-item> -->
      
      </button>
        <ion-item-options>
          <button *ngIf="item.ApprovalStatus==1 || item.ApprovalStatus==3" ion-button color="newGreen" class="TrashLeave" (click)="EditLeaves(item)">
          <ion-icon name="brush"></ion-icon>
        </button>
          <button *ngIf="item.ApprovalStatus==1 " ion-button color="danger" class="TrashLeave" (click)="ConfirmDelete(item)">
          <ion-icon name="trash"></ion-icon>
        </button>
          <button *ngIf="item.ApprovalStatus==6 &&  !(item.StartDate | compareDate)" ion-button color="newYellow" class="TrashLeave"
            (click)="EditAppLeaves(item)">
          <ion-icon name="calendar"></ion-icon>
        </button>
          <button *ngIf="item.ApprovalStatus==6 &&  !(item.StartDate | compareDate)" ion-button color="danger" class="TrashLeave" (click)="ConfirmAppCancel(item.Id)">
          <ion-icon name="remove-circle"></ion-icon>
        </button>
          <button *ngIf="item.ApprovalStatus==6 &&  (item.StartDate | compareDate) &&(item.EndDate | compareEndDate) && item.NofDays >=1"
            ion-button color="dark" class="TrashLeave" (click)="CutAppLeaves(item)">
          <ion-icon name="cut"></ion-icon>
        </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
</ion-content>