<ion-header>

  <ion-navbar>
    <ion-title>Leave List</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addLeave()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>

    <ion-item *ngFor="let item of LeavesData">
      <!-- <ion-card> -->
      <ion-thumbnail item-start>
        <img src="img/thumbnail-totoro.png" style="border-radius:15%;" class="smallImg">
      </ion-thumbnail>
      <h3>{{item.Type}}</h3>
      <h5>{{item.StartDate}} </h5>
      <h5>{{item.ReturnDate}}</h5>
      <p *ngIf="item.NofDays==1">{{item.NofDays}} day </p>
      <p *ngIf="item.NofDays > 1">{{item.NofDays}} days </p>
      <!-- <h3>{{item.ApprovalStatus|approvalPipe}}</h3> -->
      <ion-note>
        <button ion-button clear item-end>{{item.ApprovalStatus|approvalPipe}}</button>
      </ion-note>
      <!-- </ion-card> -->
    </ion-item>

  </ion-list>
</ion-content>