.CardHeader{
    background-color: #33cccc;
     
     width: 100%;
     font-weight: bold;
     color :white
}

.items{
text-align-last: center;
display: flex;
}
// #FirstDiv{
//     flex:1;
//     text-align-last: right;
// }

// #SecondDiv{
//     display: flex;
//     text-align-last: left;
// }