<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{ viewTitle }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addEvent()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <template #template let-view="view" let-row="row" let-col="col">
    <div class="calender-day">
      {{view.dates[row*7+col].label}}
    </div>
  </template>

  <template #templ let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
    <!-- {{selectedDate.events}} -->
    <!-- <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
      <ion-item *ngFor="let event of selectedDate?.events" (click)="eventSelected(event)">
        <span *ngIf="!event.allDay" class="monthview-eventdetail-timecolumn">{{event.startTime|date: 'HH:mm'}}                         -
                            {{event.endTime|date: 'HH:mm'}}
                        </span>
        <span *ngIf="event.allDay" class="monthview-eventdetail-timecolumn">All day</span>
        <span class="event-detail">  |  {{event.title}}</span>
      </ion-item>
      <ion-item *ngIf="selectedDate?.events.length==0">
        <div class="no-events-label">{{noEventsLabel}}</div>
      </ion-item>
    </ion-list> -->
  </template>
<!--[monthviewEventDetailTemplate]="templ"  -->

  <calendar [monthviewDisplayEventTemplate]="template"  [eventSource]="eventSource" [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate" [showEventDetail]=true (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)" step="30" class="calendar" noEventsLabel='No Tasks'>
  </calendar>
</ion-content>