.TrashAssignOrder{
    font-size: 15px;
}

#TileDivider{
    text-align: center;
}

#code{
    font-weight: bolder;
}

.blue{
    color: lightskyblue !important
}
.grey{
    color: grey !important
}
.yellow{
    color: goldenrod !important
}
.green{
    color: green !important
}
.red{
    color: red !important
}