<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{coming_Task.title}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="StepBack()" color="newGrey" class="doneBtn"><ion-icon name="close-circle"></ion-icon></button>
      <button ion-button (click)="SaveData()" color="newGrey" class="doneBtn" [disabled]="isdisabled"><ion-icon name="checkmark-circle"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-textarea rows="6" class="txtarea" placeholder="Enter a discription" [value]="disc" [(ngModel)]="disc" (ionBlur)="valuechange($event)"></ion-textarea>
    </ion-row>
    <br/>
    <ion-scroll scrollX="true" scrollY="true" zoom="true">
      <img *ngFor="let i of imags" [src]="i" style="border-radius:15%;" class="smallImg" />
    </ion-scroll>
    <br/>
    <ion-row>
      <div text-center>
        <img class="image" [src]="captureDataUrl" *ngIf="captureDataUrl" style="border-radius:15%;" />
      </div>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons>
      <button ion-button icon-left (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon>Select Image
      </button >
      </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-left (click)="openFile()">
        <ion-icon name="cloud-upload"></ion-icon> Open File
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>